{%extends 'base.html'%}

{% block content %}
{% include 'navbar.html'%}
<div style="display: flex;" class="container" >
<div class="col" style="margin-top: 50px;">
  <h1 style="display: flex; margin-left: 35px; margin-bottom: 30px;">팀 순위</h1>

  <div style="margin-left: 50px;">
  <div>
    <span>순위</span>
    <span style="margin-left: 30px">팀</span>
    <span style="margin-left: 60px;">승률</span>
    {% for i in update%}
    <span style="margin-left: 110px;">  업데이트 : {{i.updated_at|date:'Y.m.d H:m'}}</span>
    {%endfor%}
  </div>
  <hr style="width: 500px;">
  {% for i in team%}
  <div style="width: 500px; height: 30px;">
    <div style="display: inline-block; width: 30px;">{{i.rank}}</div>
    <div style="margin-left: 30px; display: inline-block; width: 80px;">{{i.team}}</div>
    <div style=" display: inline-block; width: 80px;">{{i.win_percentage}}</div>
    <a style="margin-left: 40px;" href="{{i.get_absolute_team}}"><button style="display: inline-block; height: 30px; line-height: 15px;" type="button" class="btn btn-info">팀정보</button></a>
    <a href="{{ i.get_absolute_player }}"><button style="height: 30px; line-height: 15px; background-color: rgb(87, 221, 132);" type="button" class="btn btn-info">선수정보</button></a>
  </div>
  <hr style="width: 500px;">
  {%endfor%}
</div>
</div>




<div style="margin-left: 100px; margin-top: 50px;" class="col">
  <h1 style="display: flex; margin-left: 35px; margin-bottom: 30px;">예상 팀 순위</h1>

  <div style="margin-left: 50px;">
  <div>
    <span>순위</span>
    <span style="margin-left: 30px">팀</span>
    <!-- <span style="margin-left: 60px;">확률</span> -->
    {% for i in update %}
    <span style="margin-left: 110px;">  업데이트 : {{i.updated_at|date:'Y.m.d H:m'}}</span>
    {%endfor%}
  </div>
  <hr style="width: 500px;">
  {% for i in pre_rank %}
  <div style="width: 500px; height: 30px;">
    <div style="display: inline-block; width: 30px;">{{i.pre_rank}}</div>
    <div style="margin-left: 30px; display: inline-block; width: 80px;">{{i.team}}</div>

    <a style="margin-left: 40px;" href="{{i.get_absolute_team}}"><button style="display: inline-block; height: 30px; line-height: 15px;" type="button" class="btn btn-info">팀정보</button></a>
    <a href="{{ i.get_absolute_player }}"><button style="height: 30px; line-height: 15px; background-color: rgb(87, 221, 132);" type="button" class="btn btn-info">선수정보</button></a>
  </div>
  <hr style="width: 500px;">
  {%endfor%}

</div>
</div>
</div>


  {%endblock%}
  