{%extends 'base.html'%}

{% block content %}
{% include 'navbar.html'%}

  <h1>팀 순위</h1>

  <div style="margin-left: 50px;">
  <div>
    <span>순위</span>
    <span style="margin-left: 30px">팀</span>
    <span style="margin-left: 60px;">승률</span>
    {% for i in update%}
    <span style="margin-left: 110px;">  업데이트 : {{i.updated_at|date:'Y.m.d H:m'}}</span>
    {%endfor%}
  </div>
  <hr style="width: 500px;">
  {% for i in team%}
  <div style="width: 500px; height: 30px;">
    <div style="display: inline-block; width: 30px;">{{i.rank}}</div>
    <div style="margin-left: 30px; display: inline-block; width: 80px;">{{i.team}}</div>
    <div style=" display: inline-block; width: 80px;">{{i.win_percentage}}</div>
    <a style="margin-left: 40px;" href="{{i.get_absolute_team}}"><button style="display: inline-block; height: 30px; line-height: 15px;" type="button" class="btn btn-info">팀정보</button></a>
    <a href="{{ i.get_absolute_url }}"><button style="height: 30px; line-height: 15px;" type="button" class="btn btn-info">선수정보</button></a>
  </div>
  <hr style="width: 500px;">
  {%endfor%}
</div>




  {%endblock%}
  