{% extends 'base.html'%}
{% load static %}


{% block content %}

{% include 'navbar.html'%}


<div class="container">
  {% for i in info %}
  <div style="display: flex;">
  <div style="margin-top: 30px;" class="team-button">
    <a href="/{{ i.team }}_player">
      <button class="btn btn-primary btn-lg">{{ i.team }} 선수정보</button>
    </a>
  </div>

</div>
{% endfor %}
  <div class="row">
    <div class="col">
    {% for i in info %}
    <div style="width: 300px; margin-top: 50px;" class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3>{{ i.team }}</h3>
        </div>
        <div class="card-body">
          <p><strong>시즌:</strong> {{ i.year }}</p>
          <p><strong>순위:</strong> {{ i.rank }}</p>
          <p><strong>타율:</strong> {{ i.batting_average }}</p>
          <p><strong>출루율:</strong> {{ i.on_base_percentage }}</p>
          <p><strong>장타율:</strong> {{ i.slugging_percentage }}</p>
          <p><strong>OPS:</strong> {{ i.on_base_plus_slugging }}</p>
          <p><strong>수비율:</strong> {{ i.Fielding_Percentage }}</p>
          <p><strong>평균 자책점:</strong> {{ i.ERA }}</p>
          <p><strong>이닝당 출루율:</strong> {{ i.WHIP }}</p>
        </div>



      </div>
    </div>
  </div>
  {% endfor %}
    <div class="col">
      {% for i in pre_ran_per %}
    <div style="width: 300px; margin-top: 50px;" class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3>{{ i.team }}</h3>
        </div>
        <div class="card-body">
          <p><strong>1위 확률 :</strong> {{ i.one }}</p>
          <p><strong>2위 확률:</strong> {{ i.two }}</p>
          <p><strong>3위 확률:</strong> {{ i.three }}</p>
          <p><strong>4위 확률:</strong> {{ i.four }}</p>
          <p><strong>5위 확률:</strong> {{ i.five }}</p>
          <p><strong>6위 확률:</strong> {{ i.six }}</p>
          <p><strong>7위 확률:</strong> {{ i.seven }}</p>
          <p><strong>8위 확률:</strong> {{ i.eight }}</p>
          <p><strong>9위 확률:</strong> {{ i.nine }}</p>
          <p><strong>10위 확률:</strong> {{ i.ten }}</p>
        </div>


      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-md-6">
    {% for i in info %}
    <img style="width: 800px; height: 600px;" src="{% static '머신러닝데이터'%}/{{i.team}}.png" alt="">
    {% endfor %}
  </div>
  </div>
</div>






{% endblock %}